* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("img/backg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    height: 100%;
    position: relative;
}

.main .box {
    height: 100%;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    height: 62px;
    display: flex;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.para {
    align-items: center;
    height: 56vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 30px;


}

.para> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.para> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.para> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.line {
    background-color: gray;
    height: 7px;
}

.btn {
    padding: 3px 5px;
    font-weight: 400;
    background-color: rgba(246, 238, 238, 0.044);
    color: white;
    border-radius: 4px;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400px;
}

.btn-red-sm {
    background-color: red;
    color: white
}

.para-button {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px
}

.main input {
    padding: 7px 102px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}
@media  screen and (max-width:1300px) {
    .first{
        flex-wrap: wrap;
    }
    
}
.secimg {
    position: relative;
    width: 400px;
    height: 250PX;
}

.secimg img {
    width: 280px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 20px;
    right: 34px;
    width: 230px;
    height: 175px;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;

}

section.first>div :nth-child(2) {
    font-size: 24px;
    

}

.third {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.simg {
    position: relative;
    width: 400px;
    height: 250PX;
}

.simg img {
    width: 22vw;
    position: relative;
    z-index: 10;
}

.simg video {
    position: absolute;
    top: -11px;
    right: 92px;
    width: 184px;
    height: 175px;
}

.fqt {
    text-align: center;
    padding: 20px;

}

.fqt h1 {
    color: white;
    font-size: 48px;

}

.fabox:hover {
    background-color: rgb(87, 82, 82);
    transition: all 1s ease-out;
}

.fabox {
    display: flex;
    background-color: #2d2d2d;
    color: white;
    justify-content: space-between;
    max-width: 60vw;
    padding: 15px;
    margin: 14px auto;
    cursor: pointer;
}
.parag{
    color: white;
    padding: 30px;
}
.parag p{
    padding: 20px;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

.question {
    color: white;
    padding: 34px 0;
    
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer a {
    color: white;
    font-size: 14px;
}
.footeritem{
    gap: 24px;
    display: flex;
    flex-direction: column;
}
@media  screen and (max-width:1300px) {
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        max-width: 60vw;
        margin: auto;
    }
}